<%= form_for([@collection.compare.site,@collection]) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :flat %><br>
    <%= f.text_field :flat %>
  </div>
  

   <div class="actions">
         <%= hidden_field_tag :compare, params[:compare] %>
    <%= f.submit %>
  </div>
<% end %>
