<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Путь</th>
      <th>Артикулы</th>
 
    </tr>
  </thead>

  <tbody>
    <% @collection.offers.pluck("scu").sort.each do |scu| %>
      <tr>
        <td><%= @collection.name %></td>
        <td><%= @collection.flat %></td>
        <td><%= scu %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', [:edit,@collection.compare.site,@collection] %> |
<%= link_to 'Back', site_collections_path( :compare=> @collection.compare_id) %>
