

<h2>Добавление новых рубрик</h2>
<div style="overflow-x:auto;">
   <%= render :partial => "status", :locals => { :status_hash => @nc.to_h } %>
</div>
<br>

<h2>Удаление старых рубрик</h2>
<div style="overflow-x:auto;">
   <%= render :partial => "status", :locals => { :status_hash => @oc.to_h } %>
</div>


<h2>Добавление новых товаров</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @no.to_h } %>
</div>
<br>

<h2>Удаление старых товаров</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @oo.to_h } %>
</div>


<h2>Добавление товаров в рубрики</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @nco.to_h } %>
</div>

<h2>Удаление товаров из рубрик</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @oco.to_h } %>
</div>

<h2>Редактирование параметров товара</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @eo.to_h } %>
</div>

<h2>Редактирование свойств товара</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @ev.to_h } %>
</div>
<h2>Новые изображения</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @np.to_h } %>
</div>

<h2>Старые изображения</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @op.to_h } %>
</div>

