
<br>
<% progress_log = @compare.status_trackers.pluck(:thread, :date, :level, :message).map{ |v| "["+v.join("][")+"]" }  %>
<%= text_area_tag "",progress_log.join("\n"), cols: 100, rows: 15, disabled: true, class: "progress", style: 'resize: none; overflow-y: scroll;' %>
<% errors_log = @compare.handler_errors.pluck(:model, :model_id, :tryes_left, :message).map{ |v| "["+v.join("][")+"]" }  %>
<%= text_area_tag "",errors_log.join("\n"), cols: 100, rows: 15, disabled: true, class: "errors", style: 'resize: none; overflow-y: scroll;' %>


<h2>Всего</h2>
<div style="overflow-x:auto;">
   <%= render :partial => "status", :locals => { :status_hash => @total.to_h } %>
</div>
<br>
<h2>Добавление новых рубрик</h2>
<div style="overflow-x:auto;">
   <%= render :partial => "status", :locals => { :status_hash => @nc.to_h } %>
</div>
<br>

<h2>Удаление старых рубрик</h2>
<div style="overflow-x:auto;">
   <%= render :partial => "status", :locals => { :status_hash => @oc.to_h } %>
</div>


<h2>Добавление новых товаров</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @no.to_h } %>
</div>
<br>

<h2>Удаление старых товаров</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @oo.to_h } %>
</div>


<h2>Добавление товаров в рубрики</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @nco.to_h } %>
</div>

<h2>Удаление товаров из рубрик</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @oco.to_h } %>
</div>

<h2>Редактирование параметров товара</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @eo.to_h } %>
</div>

<h2>Редактирование свойств товара</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @ev.to_h } %>
</div>

<h2>Редактирование свойств коллекций</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @ec.to_h } %>
</div>

<h2>Новые изображения</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @np.to_h } %>
</div>

<h2>Старые изображения</h2>
<div style="overflow-x:auto;">
 <%= render :partial => "status", :locals => { :status_hash => @op.to_h } %>
</div>

