 <div class="result_status">
   |  completed :<%=  status_hash["completed"].to_i %> 
   | error :<%=  status_hash["error"].to_i %> 
   | active :<%=  status_hash["active"].to_i %>
   | listing :<%=  status_hash["listing"].to_i %> 
   | waiting :<%=  status_hash["waiting"].to_i %> 
   |
 </div>