<%= form_for([@offer.compare.site, @offer]) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scu %><br>
    <%= f.text_field :scu %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :original_id %><br>
    <%= f.text_field :original_id %>
  </div>
  <div class="field">
    <%= f.label :sort_weight %><br>
    <%= f.text_field :sort_weight %>
  </div>
    <div class="field">
    <%= f.label :flat %><br>
    <%= f.text_field :flat %>
  </div>

  <div class="actions">
         <%= hidden_field_tag :compare, params[:compare] %>
    <%= f.submit %>
  </div>
  
<% end %>
