<p id="notice"><%= notice %></p>

<p>
  <strong>Артикул:</strong>
  <%= @offer.scu %>
</p>
<p>
  <strong>Название</strong>
  <%= @offer.title %>
</p>
<p>
  <strong>original ID:</strong>
  <%= @offer.original_id %>
</p>
 <strong>Sort Weight:</strong>
  <%= @offer.sort_weight %>
</p>

<p>
  <strong>Строка параметров:</strong>
  <%= @offer.flat %>
</p>

<p>
  <strong>Строка свойств:</strong>
  <%= @offer.variants.first.try(:flat) %>
</p>


<%= link_to 'Edit', [:edit,@offer.compare.site,@offer] %> |
<%= link_to 'Back', site_offers_path( :compare=> @offer.compare_id) %>
