<%= form_for([@collect_import.compare.site, @collect_import]) do |f| %>
  <% if @collect_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collect_import.errors.count, "error") %> prohibited this collect_import from being saved:</h2>

      <ul>
      <% @collect_import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
         <%= hidden_field_tag :compare, params[:compare] %>
    <%= f.submit %>
  </div>
<% end %>
